<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${@environment.getActiveProfiles().length > 0 && @environment.getActiveProfiles()[0] == 'dev'} ? '[开发环境] 客户端UI' : '客户端UI'">客户端UI</title>
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" crossorigin th:unless="${@environment.getActiveProfiles().length > 0 && @environment.getActiveProfiles()[0] == 'dev'}" href="/assets/index.css">
</head>

<body>
    <div id="app">


    </div>
</body>


<script type="module" th:if="${@environment.getActiveProfiles().length > 0 && @environment.getActiveProfiles()[0] == 'dev'}" src="http://127.0.0.1:30002/src/main.ts"></script>
<script type="module" crossorigin th:unless="${@environment.getActiveProfiles().length > 0 && @environment.getActiveProfiles()[0] == 'dev'}" src="/assets/index.js"></script>

</html> 